@import "config";

* {
  box-sizing: border-box;
  // height: 100vh;
}

:root {
  font-family: $font;
  font-size: $baseFontSize;
  $h1: 3.052em;
  $h2: 2.441em;
  $h3: 1.953em;
  $h4: 1.563em;
  $h5: 1.25em;
  $smallText: 0.8em;
}

header {
  background: $headerBackground;
  font-size: $headerFontSize;
  color: $white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: $headerHeight;
  box-shadow: $level-4;
  // padding: 1vh $containerPadding 0 $containerPadding;
  > h1 {
    margin-bottom: 0.1rem;
  }
  > blockquote {
    align-self: stretch;
    text-align: center;
    font-size: $sloganFontSize;
  }
  > div {
    font-size: $sloganFontSize;
    color: $lightGreen;
  }
  > nav {
    margin-top: 0.25rem;
  }
  > nav a {
    font-size: $navFontSize;
    color: $yellow;
    text-decoration: none;
    // padding-bottom: 1vh;
  }
  nav a:hover {
    border-bottom: solid 2px $lightGreen;
  }
  nav a + a {
    margin-left: 10px;
  }
}

.splash-animation {
  height: 100vh;
  margin: 0;
  line-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $containerPadding;
  overflow: hidden;

  color: $white;
  font-size: $baseFontSize + 150%;
  div > span > span {
    opacity: 0;
    animation: fadeInFromNone 4.75s forwards;
  }
}

#animation {
  margin-top: 15vh;
}

#changing {
  line-height: 1;
}
#lives {
  line-height: 1;
  animation-delay: 0.5s;
}
#with {
  line-height: 1;
  animation-delay: 1.2s;
}
#dedication {
  line-height: 1;
  animation-delay: 1.6s;
}
#care {
  animation-delay: 2.2s;
  line-height: 0.8;
}
#ampersand {
  animation-delay: 2.6s;
}
#constant {
  animation-delay: 3.2s;
  line-height: 0.8;
}

#strides {
  animation-delay: 3.75s;
  line-height: 1.2;
}

#towards {
  animation-delay: 4.25s;
  line-height: 0.5;
}

#excellence {
  line-height: 1.4;
  opacity: 0;
  animation-delay: 4.75s;
}

#enter-container {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  animation: fadeInFromNone 5s forwards;
  animation-delay: 5.5s;
}
.enter {
  line-height: 1;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  font-size: $baseFontSize + 200%;
}

.enter-animated {
  display: block;

  background-clip: text;

  animation: blink 1.45s infinite;
}

@keyframes blink {
  0% {
    color: $yellow;
  }
  49% {
    color: $yellow;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: $yellow;
  }
}

@keyframes glow {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    display: flex;
    background-position: 100% 0;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.container {
  padding: ($headerHeight + 2rem) $containerPadding;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.doc-pic {
  > img {
    width: 100%;
  }
}

blockquote {
  margin: 0;
  padding: 0;
  background: $cardBg;
  color: $black;
  box-shadow: $level-3;
}

//* From type-scale.com *********************************
@import url("https://fonts.googleapis.com/css?family=Nunito:400|Nunito:400");

html {
  font-size: $baseFontSize;
} /*16px*/

body {
  background-color: $green;
  font-family: $font;
  font-weight: 400;
  line-height: 1.65;
  color: $lightGreen;
}

p {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  margin-top: 3vh;
  margin-bottom: 0;
  // padding-top: 0;
  font-size: 1.4em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}
//* -- END type-scale.com *******************************

//* iPhone 11 Pro max
@media only screen and (device-width: 414px) and (device-height: 896px) {
  #excellence {
    line-height: 1.85;
  }
  .splash-animation {
    margin-top: 0;
  }
}

//* iPhone 11
@media only screen and (device-width: 414px) and (device-height: 896px) {
  #excellence {
    line-height: 1.85;
  }
}

//*  iPhone 11 Pro
@media only screen and (device-width: 375px) and (device-height: 812px) {
  #excellence {
    line-height: 1.6;
  }
}

@media screen and (min-width: 325px) {
  .splash-animation {
    font-size: $baseFontSize + 160%;
  }
}

@media screen and (min-width: 360px) {
  header {
    font-size: $headerFontSize + 6%;
    height: $headerHeight + 0.5rem;

    > nav a {
      font-size: $navFontSize + 5%;
    }
  }
  h4 {
    font-size: 1.53em;
  }
}

@media screen and (min-width: 400px) {
  $offset: 1.25rem;
  header {
    font-size: $headerFontSize + 12%;
    height: $headerHeight + $offset;

    > nav a {
      font-size: $navFontSize + 8%;
    }
  }

  .container {
    padding: ($headerHeight + 2rem + $offset) $containerPadding;
  }

  .enter {
    font-size: $baseFontSize + 350%;
  }
}

@media screen and (min-width: 450px) {
  $offset: 2rem;
  header {
    font-size: $headerFontSize + 20%;
    height: $headerHeight + $offset;

    > nav a {
      font-size: $navFontSize + 10%;
    }
  }

  .container {
    padding: ($headerHeight + 2rem + $offset) $containerPadding;
  }
}

@media screen and (min-width: 600px) {
  .enter {
    font-size: $baseFontSize + 450%;
  }
}

@media screen and (min-width: 700px) {
  $offset: 2.5rem;

  header {
    font-size: $headerFontSize + 25%;
    height: $headerHeight + $offset;
    > blockquote {
      font-size: $sloganFontSize + 25%;
    }
    > nav a {
      font-size: $navFontSize + 11%;
    }
  }

  .container {
    padding: ($headerHeight + 2rem + $offset) $containerPadding;
  }

  .splash-animation {
    height: 100vh;
    margin: 0;
    font-size: $baseFontSize + 250%;
  }
}

@media screen and (min-width: 1024px) {
  $padding: $containerPadding + 10%;
  .container {
    padding-left: $padding;
    padding-right: $padding;
  }
}

@media screen and (min-width: 1366px) {
  $padding: $containerPadding + 15%;
  .container {
    padding-left: $padding;
    padding-right: $padding;
  }
}

@media screen and (min-width: 1920px) {
  $padding: $containerPadding + 20%;

  .container {
    padding-left: $padding;
    padding-right: $padding;
  }
}
